main {}

/* Banner */
main .banner {
    aspect-ratio: 21/9;

    background-image: url("/src/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}

main .banner .box {
    display: block;

    width: 100%;
    height: 100%;

    background-color: #00000055;
}

main .banner .box h1 {
    display: block;

    position: relative;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: fit-content;

    font-size: 75px;

    color: white;
}

/* Sobre */
main .sobre {
    display: block;

    width: 90%;

    margin: auto;
    margin-top: var(--marginTop);
}

main .sobre .box {
    display: flex;

    flex-wrap: wrap;
}

main .sobre .box .item {
    flex: 1;

    min-width: 350px;

    padding: var(--paddingItens);
}

main .sobre .box .item img {
    display: block;

    margin: auto;

    width: 50%;
    min-width: 300px;

    aspect-ratio: 1/1;

    object-position: center;
    object-fit: cover;

    border-radius: 50%;
}

main .sobre .box .item h2 {
    display: block;

    width: fit-content;

    margin: auto;
}

main .sobre .box .item p:first-of-type {
    margin-top: var(--marginItens);
}

main .sobre .box .item p {
    margin-top: var(--marginItens);

    text-align: justify;
}

/* Serviços */
main .servicos {
    display: block;

    width: 90%;

    margin: auto;
    margin-top: var(--marginTop);
}

main .servicos h2 {
    display: block;

    width: fit-content;

    margin: auto;
}

main .servicos .box {
    margin-top: var(--marginTop);

    display: flex;

    flex-wrap: wrap;
}

main .servicos .box .item {
    flex: 1;

    margin: var(--marginItens) auto;
    padding: var(--paddingItens);

    min-width: 250px;
    max-width: min-content;;

    text-align: center;
}

main .servicos .box .item p {
    margin-top: var(--marginItens);
}

/* Contato */
main .contato {
    display: block;
    
    width: 90%;

    margin: auto;
    margin-top: var(--marginTop);
}

main .contato h2 {
    display: block;

    width: fit-content;

    margin: auto;
}

main .contato .box {
    display: flex;

    flex-wrap: wrap;
}

main .contato .box .item {
    flex: 1;

    margin: var(--marginItens);
    padding: var(--paddingItens);

    width: 33.3%;
    min-width: 250px;

    text-align: center;
}

main .contato .box .item h3 {}

main .contato .box .item p {
    margin-top: var(--marginItens);
}

main .contato .box .item p a {
    transition: 200ms ease-in-out all;
}

main .contato .box .item p a:hover {
    color: var(--cor3);
}

/* Whatsapp */
.whatsapp {
    position: fixed;

    right: 5%;
    bottom: 5%;
}

.whatsapp a {
    display: block;
}

.whatsapp a img {
    display: block;

    width: 75px;
}