@font-face {
    font-family: Delius;
    src: url("/src/fonts/Delius.ttf");
}

@font-face {
    font-family: Pacifico;
    src: url("/src/fonts/Pacifico.ttf");
}

:root {
    --cor1: #0d0d0d;
    --cor2: #262626;
    --cor3: #595959;
    --cor4: #8c8c8c;
    --cor5: #d9d9d9;
    --white: #ffffff;
    --black: #000000;

    --marginTop: 15px;
    --marginItens: 5px;
    --paddingItens: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Delius, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, li, p, a, label, input, textarea, small {
    line-height: 1;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 20px;
}

label {
    font-size: 20px;
}

li, p, a, input, small, textarea {
    font-size: 18px;
}

a {
    text-decoration: none;

    color: black;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--cor5);
}

/* Header */
header {
    background-color: var(--cor1);
}

header .header {
    display: flex;

    width: 90%;

    margin: auto;

    padding: 15px 0px;

    vertical-align: baseline;

    align-items: center;
}

header .header .header-menu {
    vertical-align: baseline;
}

header .header .header-menu ul {
    display: block;

    clear: both;
    overflow: hidden;
}

header .header .header-menu ul li {
    float: left;
}

header .header .header-menu ul li a {
    display: block;

    color: var(--white);
}

header .header .menu-esquerdo ul li a {
    font-family: Pacifico, Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header .header .menu-direito {
    margin-left: auto;
}

header .header .menu-direito ul li {
    margin-right: 15px;
}

header .header .menu-direito ul li:last-of-type {
    margin-right: 0px;
}

header .header .menu-direito ul li a {
    line-height: 1.5;
    
    border-top: 2px solid transparent;

    border-bottom: 2px solid transparent;

    transition: 200ms all ease-in-out;
}

header .header .menu-direito ul li a:hover {
    color: var(--cor4);

    border-bottom-color: var(--cor4);
}

/* Footer */
footer {
    background-color: var(--cor1);
}

footer .footer {
    display: block;

    width: 90%;

    margin: auto;

    padding: var(--paddingItens);
}

footer .footer div {}

footer .footer div p {
    display: block;

    width: fit-content;

    margin: auto;

    color: var(--white);
}